{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"parser": "typescript",
	"printWidth": null,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 1,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": true
}
